.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #090e3b;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  /* color: #070c36; */
  color: #333;
}

header h3 {
  font-size: 25px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #796093);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: sans-serif;
}
.dot {
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
}